@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

header{
    width: 33.33vh;
    background: linear-gradient(to bottom, #0066ff -50%, #f800f8 120%);
    background-image: url(../img/face_nav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.face{
    opacity: 0.15;
    z-index: -1;
}

main{
    width: 100%;
}

#home{
    border-bottom: rgba(0, 0, 0, 0.11) solid 2px;
}

.nav{
    font-size: 4.5vh;
    width: 33.33vh;
    padding: 30px 0;

}

nav ul li{
    margin: 15px;
}

nav ul li a{
    color: #fff !important;
}

nav ul li a:hover{
    text-decoration: underline !important;
}

main{
    background: rgb(238, 237, 237);
}

.tag{
    font-family: 'Pacifico', cursive;
    font-size: 10px;
    margin: 0;
    opacity: 0.4;
    display: none;
}

h1{
    font-size: 10vh !important;   
    margin: 0 !important;
}

h2{
    font-size: 6vh !important;
    opacity: 0.85;
    margin: 0 !important;
}

#perfil{
    width: 100%;
    display: flex;
}

#img-perfil{
    height: 40vh;
    margin: 0 auto;
    align-items: center;
    height: 50vh;
}

#article-perfil{
    position: absolute;
    right: 5%;
    top: 20vh;
    z-index: 2;
    width: 60%;
}

#bg-perfil{
    position: absolute;
    right: 5%;
    top: 20vh;
    z-index: 2;
    width: 60%;
}

