header{
    width: 25vh;
    right: 100%;
    left: auto;
    opacity: 0.85;
}

li{
    text-align: right;
}

.active{
    right: 0;
}

h1{
    font-size: 350% !important;   
    margin: 0 !important;
}

h2{
    font-size: 200% !important;
    opacity: 0.85;
    margin: 0 !important;
}

.face{
    display: none;
}

#perfil{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-perfil{
    height: auto !important;
    width: 50% !important;
    margin-left: 30%;
    align-items: center;
    justify-content: end;
    height: 50vh;
}

#article-perfil{
    position: unset;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-div, .portifolio-div, .contact-div{
    padding-left: 4vh;
}

.none{
    display: none;
}

.fist-info {
    margin: 0 15% !important;
    width: 20%;
}

.img-project{
    height: 30% !important;
}

.project-info{
    overflow-x: scroll;
    margin-left: 2%;
}

.project-info::-webkit-scrollbar {
    width: 3px;
    opacity: 0;
}

.project-info::-webkit-scrollbar-thumb {
    background: rgba(51, 64, 87, 0.2);
    border-radius: 55px;
}


.open-nav{
    position: fixed;
    right: 15px;
    top: 15px;
    display: block;
    width: 40px;
    height: 30px;
    background: none;
    z-index: 2;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0 !important;
}

.open-nav .line{
    position: absolute;
    width: 100%;
    height: 4px;
    background: rgb(0, 132, 255);
    right: 0;
    border-radius: 5px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0 !important;
}

#line1{
    transition: .5s linear;
    top: 0;
}

#line2{
    transition: .8s linear;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    opacity: 1;
}

#line3{
    transition: .5s linear;
    bottom: 0;
}

.close #line1{
    transition: .5s linear;
    background: rgb(225, 0, 255);  
    transform: rotate(-39deg) translate(-10px,8px);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
}

.close #line2{
    background: rgb(225, 0, 255);  
    transition: .8s ;
    right: 100%;
    opacity: 0;

}

.close #line3{
    transition: .5s linear;
    background: rgb(225, 0, 255);  
    transform: rotate(39deg) translate(-10px,-9px);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
}
