@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

header{
    width: 33.33vh;
    height: 100vh;
    background-image: url(../img/face_nav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.face{
    opacity: 0.15;
    z-index: -1;
}

main{
    width: 100%;
}

#home{
    border-bottom: rgba(0, 0, 0, 0.11) solid 2px;
}

.nav{
    font-size: 4.5vh;
    width: 33.33vh;
    padding: 30px 0;

}

nav ul li{
    margin: 15px;
}

nav ul li a{
    color: #fff !important;
}

nav ul li a:hover{
    text-decoration: underline !important;
}

main{
    background: rgb(238, 237, 237);
}

h1{
    font-size: 10vh !important;   
    margin: 0 !important;
}

h2{
    font-size: 6vh !important;
    opacity: 0.85;
    margin: 0 !important;
}

#perfil{
    width: 100%;
    display: flex;
}

#img-perfil{
    height: 40vh;
    margin: 0 auto;
    align-items: center;
    height: 50vh;
}

#article-perfil{
    position: absolute;
    right: 5%;
    top: 20vh;
    z-index: 2;
    width: 60%;
}
#about{
    border-bottom: rgba(0, 0, 0, 0.11) solid 2px;
}

#about h4{
    font-size: 22px !important;
}

.about-div, .portifolio-div, .contact-div{
    padding-left: 35vh;
}

.img-about{
    overflow-x: scroll;
    margin: 0 auto;
}

.img-about::-webkit-scrollbar {
    height: 6px;
    opacity: 0;
}

.img-about::-webkit-scrollbar-thumb {
    background: rgba(51, 64, 87, 0.5);
    border-radius: 55px;
}


.img-about img{
    margin: auto 2.5%;
}

.fist-info{
    margin: 0!important;
    width: 20%;
}

#about h4{
    font-size: 40%;
}

.pair-about{
    background-color: rgba(0, 0, 0, 0.050);
}

.img-logo{
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
    filter: grayscale(100%);
    height: 75%; 
    cursor: pointer;   
}

.img-logo:hover{
    filter: none;
    height: 75%;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.5);
}

.img-about-me{
    filter: grayscale(100%);
}

.img-about-me:hover{
    filter: grayscale(10%);
}

.h-5{
    height: 5%;; 
}

.h-15{
    height: 15%;; 
}

.h-80{
    height: 80%;; 
}

.h-90{
    height: 90%;
}

.portifolio-div:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.01)
}

.contact-div:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.1);
}

.contact-div:nth-child(3) h3{
    font-size: 15px;
    color: rgba(160, 160, 160, 0.98);
    margin: 0;
}

.img-contact{
    opacity: 0.5;
}

.img-contact:hover{
    opacity: 1;
}

#complete .progress-bar{
    background: linear-gradient(90deg, rgb(49, 104, 255) 0%, rgba(255,0,255,1) 100%);
}

.img-project:hover{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
    cursor: pointer;
}

.img-project{
    height: 50%;
}

.open-nav{
    display: none;
}